@import url("https://fonts.googleapis.com/css?family=Cherry Bomb");
@import url("https://fonts.googleapis.com/css?family=Battambang");

footer {
    background:#D4F3F1;
    display: flex;
    gap: 1em;
    flex-direction: row;
    justify-content: space-between;
}


.contact-us-directions{
    display:flex;
    flex-direction: row;
    /* border:1px solid red; */
}

.contact-us-directions p{
    font-family: 'Battambang',cursive;font-size: 18px;
    color: white;
    padding:3px;
}

.social-media-icons{
    display:flex;
    flex-direction: row;
    /* border:1px solid red; */
    gap:2em;
    justify-content: center;
    padding: 2px;
}


.copyright-text p{
    font-family: 'arial';font-size: 5px;
    color: white;
}

.social-media-icons-copyright{
    display:flex;
    flex-direction: column;
    /*border:1px solid red;*/
    justify-content: space-between;
}

.copyright{
    display:flex;
    /*border:1px solid red;*/
    flex-direction: row;
}


@import url("https://fonts.googleapis.com/css?family=Cherry Bomb");
@import url("https://fonts.googleapis.com/css?family=Battambang");

@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang&family=Cherry+Bomb+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');


.text-logo{
    font-family: 'Boogaloo';
    font-size: 50px;
}
.blue{
    color:#39ABC6;
}

.yellow{
    color: #F0D153;
}

.home-text{
    font-family:'CherrySwash';
}


header {
    background: #D4F3F1;
    display: flex;
    justify-content: space-between;
    /* padding: 0.1em;
    gap: 1em; */
    /* height: 190px;  */
    /* align-items: center;  */
    /* flex-direction:row;
    max-width: 100%; */
    /* align-items: flex-start; */

}

.bookstore-logo{
    font-family: 'Cherry Bomb';font-size: 30px;
    color: white;

}

@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');


.body-books{
    display:flex;
    flex-direction: row;
    /* border:1px solid red; */
    justify-content: space-between;
    background-color:whitesmoke;
    background-size :cover;
    height : 590px;
}

.container-dogimage-text{
    display: flex;
    flex-direction: column;
    /* border:1px solid red; */
    gap:5em;
    row-gap: 48.5px;
    flex-wrap: wrap;
    left:100px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    width:900px;

}

.home-text-right{
    display: flex;
    flex-direction: column;
    font-family: 'Cherry Swash', serif ;
    color: #2634AE;
    font-size: 40px;
    padding: 100px;
}

.home-container{
    display: flex;
    flex-direction: row;
}

.container-book-images p{
    font-family: 'Battambang';font-size: 18px;
    color: #CE4375;
    font-weight: bold;
    padding: 1px;
}

.text-cta p{
    font-family: 'Battambang';font-size: 19px;
    color:#092BA0;
    font-weight: bold;
    text-align: center;
    position:relative;
    top:200px;
    padding: 10px 20px;

}

.CTA{
    font-family: 'Battambang';font-size: 20px;
    color: white;
    background-color: #CE4375;
    padding: 10px 20px;
    border-radius: 10px;
    border:none;
    position:relative;
    top:200px;
    left:350px;
}
