.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text-logout {
    font-size: 19px;
    font-weight: 600;
    color: #F0D153;
    margin-top: 20px;
    margin-right: 10px;
  }
  
  .text-logout-1 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #F0D153;
  }
  
  .hello-logout {
    margin-bottom: 30px;
  }
  